 @media screen and (max-width: "1367px") {
     .container {
         max-width: 975px;
     }
     .container_fluid {
         max-width: 995px;
     }
     .footer__col:first-child {
         max-width: 311.25px;
     }
     .footer .about-us {
         max-width: 311.25px;
     }
 }
  @media screen and (max-width: "1023px"){
    .container {
        max-width: 830px;
    }
    .fashion_thumbs {
        display: block;
    }
    .fashion_thumb ,.apple .box_cards .box_card {
         width: 100%;
          margin-bottom: 20px;
    }
    .apple .box_cards .box_card-content {
         flex: 1;
    }
    .header__top {
         display: none;
    }
    .header__bottom-nav > ul {
         display: none;
    }
    .apple .box_cards {
         display: block;
    }
  }
  
   @media screen  and (max-width: "820px"){
    .footer_wrapper {
         display: block;
    }
    .coppyright {
         display: none;
    }
    .trending__wrapper {
         display: block;
    }
    .header__bottom-input {
         display: none;
    } 
    .fashion_thumb_image {
        position: absolute;
        max-width: 151px;
        max-height: 219px;
        bottom: 14%;
        right: 1px;
    }
   }