 $color__primary : rgba(250, 84, 28, 1);
 $text__dark : rgba(61, 55, 55, 1);
 $danger__primary : rgba(255, 241, 240, 1);
  $text_white: rgba(255, 255, 255, 1);
   $text_gray:rgba(133, 133, 138, 1);
   $color__gray-2: rgba(238, 238, 238, 1);
    $green_color: rgba(56, 158, 13, 1);


   